<style scoped>
</style>
<style id="css" type="text/css" scoped> 
</style>
<div class='row'>
  <div class='col-md-12'>
    <div class="jumbotron">
      <h1>Code Generation</h1>
      <p>Teaching you(th) to code</p>
      <p><a class="btn btn-primary btn-lg" href="/users/new" role="button">Start Coding</a></p>
    </div>
  </div> 
</div>
